node_modules
.yarn
vendor
ios/Pods
ios/build
ios/DerivedData
android/.gradle
android/.idea
android/app/build
android/build
android/app/.cxx
.expo
dist
web-build
coverage
.git
conductor
docs
create.sh
